@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,800;1,400;1,800&display=swap');
html{
  margin: 0;
  padding: 0;
  min-width: 100vw;
}
*{
  box-sizing: border-box;
}
body{
  background-color: white;
  color: black;
  font-family: 'Open Sans', sans-serif;
}
a{
  color: orange;
}
a:hover{
 color: orange 10%;
}